<!--<div class="body" style="height:100% ;">
    <button class="logo" [routerLink]="['/login']" >Login</button>
    <button class="logo" [routerLink]="['/registration']">Register</button>
</div>-->
<body>
    


    <div class="container">
      <div class="row">
        <div class="col-lg-9 mx-auto order-lg-10 align-self-center">
          <div class="site-block-cover-content text-center">
            
            <h2>Welcome To Grocery Shopping</h2>
            <p>
              <a [routerLink]="['/login']" class="btn btn-primary px-5 py-3">Login</a>&nbsp;&nbsp;
              <a [routerLink]="['/registration']" class="btn btn-primary px-5 py-3">Register</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  
</body>

